* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-image: url(https://www.embraplan.com.br/imagens/noticias/11b986fc-d5a6-49a8-ba84-7cbbe8b6f93e.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.nav-cad {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 70px;
    width: 130vh;
    display: flex;
    background-color: white;
    border-radius: 10px;
}

.cad img {
    width: 500px;
    margin-top: 3vh;
    margin-left: 3vh;
    transition: scale 0.8s;
    filter: drop-shadow(1px 1px 1px black);
}

.cad img:hover {
    scale: 1.09;
}

.form-cad {
    padding: 90px;
    margin-left: 15vh;
    background-color: #0f2027da;
    border-radius: 15px;
}

.form-cad form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-cad form input {
    padding: 15px;
    color: black;
    background-color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    outline: none;
    width: 300px;
    transition:  transform 0.2s;
}

.form-cad input:hover {
    background-color: white;
    transform: scale(1.05);
}

.form-cad input:active {
    transform: scale(0.98);
}

.form-cad button {
    padding: 15px;
    color: white;
    background-color: #0f2027da;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    outline: none;
    width: 100%;
    transition: transform 0.2s;
}

.form-cad button:hover {
    background-color: white;
    cursor: pointer;
    color: black;
    transform: scale(1.05);
}

.form-cad a {
    color: white;
    font-size: 16px;
}

.form-cad ::placeholder {
    color: black;
    font-size: 18px;
}
