*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #0f2027;
}

.nav-cad {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 70px;
    width: 130vh;
    display: flex;
    background-color: white;
    border-radius: 10px;
}

.cad img {
    width: 500px;
    margin-top: 3vh;
}

.form-cad {
    padding: 90px;
    margin-left: 5vh;
    background-color: #0f2027da;
    border-radius: 15px;
}

.form-cad form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-cad form input {
    padding: 15px;
    color: black;
    background-color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    outline: none;
    width: 300px;
    transition: background-color 0.3s, transform 0.2s;
}

.form-cad input:hover {
    background-color: white;
    transform: scale(1.05);
}

.form-cad input:active {
    transform: scale(0.95);
}

.form-cad button {
    padding: 15px;
    color: white;
    background-color: #0f2027da;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    outline: none;
    width: 100%;
    transition: background-color 0.3s, transform 0.2s;
}

.form-cad button:hover {
    background-color: white;
    cursor: pointer;
    color: black;
    transform: scale(1.05);
}

.form-cad a{
    color: white;
    font-size: 16px;
}

.form-cad ::placeholder {
    color: black;
    font-size: 18px;
}
