*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #0f2027;
}


.nav-bar {
    display: flex;
}

.nav-bar img {
    width: 80px;
}

.nav-bar h2 {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 1.5vh;
    margin-left: 2vh;
    color: black;
}

.container-fluid .navbar-link {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
    transition: padding 0.2s;
    border-radius: 10px;
}

.container-fluid .navbar-link:hover {
    padding: 7px;
    background-color: black;
    color: white;
}

.container-fluid form input {
    padding: 15px;
    border: 3px solid black;
}

.container-fluid ::placeholder {
    font-size: 15px;
    color: black;
}

.btn {
    border: 2px solid black;
    color: black;
    border: none;
}

.btn:hover {
    background-color: black;
    color: white;
    border: none;
}

.div-nav {
    display: flex;
    gap: 30px;
    margin-top: 20vh;
    margin-left: 20vh;
}

.div-nav img {
    width: 700px;
    transition: width 0.5s;
    margin-left: 10vh;
    filter: drop-shadow(5px 5px 5px black);
}

.div-nav img:hover {
    width: 800px;
}

.base {
    display: flex;
    flex-direction: column;
    margin-left: 10vh;
    margin-top: 10vh;
}

.base h1 {
    font-size: 160px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    filter: drop-shadow(5px 5px 5px black);
}

.base h2 {
    color: white;
    filter: drop-shadow(10px 10px 10px black);
}

.base p{
    color: white;
    filter: drop-shadow(10px 10px 10px black);
    font-weight: bold;
    font-size: 20px;
}


.base a {
    padding: 20px;
    background-color: black;
    border-radius: 5vh;
    border: none;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin-top: 3vh;
    transition: scale 0.5s;
}

.base a:hover {
    background-color: white;
    color: black;
    scale: 1.1;
}

.sobre-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

.sobre-nav .linha {
    border: 10px solid white;
    width: 200px;
    border-radius: 5vh;
}

.sobre-nav h1 {
    color: black;
    font-weight: bold;
    margin-top: 10vh;
}

.sobre-nav img {
    width: 500px;
    transition: scale 0.5s;
}

.sobre-nav img:hover{
    scale: 1.1;
}

.sobre-nav p {
    font-size: 25px;
    color: black;
    font-weight: bold;
}

.sobre-nav a {
    width: 250px;
    padding: 18px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    font-size: 17px;
    text-decoration: none;
    transition: scale 0.5s;
    font-weight: bold;
}

.sobre-nav a:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid black;
    scale: 1.1;
    font-weight: bold;
}

.newsletter {
    background-color: #3498db;
    color: #fff;
    padding: 40px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 700px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.newsletter h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.newsletter p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

.newsletter form {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.newsletter input[type="email"] {
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    width: 60%;
    max-width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.newsletter input[type="email"]:focus {
    outline: none;
    box-shadow: 0 0 5px #2980b9;
}

.newsletter button {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.newsletter button:hover {
    background-color: #27ae60;
    transform: scale(1.05);
}

.newsletter button:active {
    transform: scale(0.95);
}



.carousel-item .d-block{
    height: 800px;
}



.categories {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 15vh;
}

.category-card {
    position: relative;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.category-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    padding: 20px;
}

.category-title {
    font-size: 2rem;
    font-weight: bold;
}



.categories {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.category-card {
    position: relative;
    width: 500px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    text-align: center;
    box-shadow: 0 4px 10px rgba(17, 17, 17, 0.479);
    transition: transform 0.5s;
}

.category-card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.category-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    padding: 20px;
}

.category-title {
    font-size: 2rem;
    font-weight: bold;
}

.container {
    display: flex;
    gap: 30px;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 5px;
}

.card {
    width: 700px;
    height: 800px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    transition: width 0.5s;
}
.card:hover{
    width: 800px;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
}


.card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.card .overlay h2 {
    font-weight: 300;
}


.card .overlay h3 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

#beneficios {
    margin-bottom: 8vh;
    margin-left: 5vh;
    margin-top: 20vh;
}

#beneficios img{
    border-radius: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
  }
  .grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
  }
  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;

  }
  .grid-item:hover img {
    transform: scale(1.1); /* Zoom ao passar o mouse */
  }
  .grid-item .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    z-index: 2;
  }
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr; /* Ajuste para telas menores */
    }
    .grid-item .overlay-text {
      font-size: 1.2em;
    }
  }
  .cards-container {
    max-width: 1200px;
    margin-left: 15vh;
    padding: 20px;
    display: flex;
    margin-top: 7vh;
  }
  
  .benefits-section {
    margin-bottom: 40px;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
  }
  
  .benefits-image {
    max-width: 500px;
    height: 500px;
    margin-right: 20px;
  }
  
  .benefits-content h2 {
    margin-bottom: 10px;
  }
  
  .benefits-content ul {
    list-style: none;
    padding: 0;
  }
  
  .benefits-content li {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
.products-section{
    margin-left: 6vh;
    display: flex;
    gap: 40px;
}

  .products-section h2 {
    margin-bottom: 20px;
  }
  
  .product {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 300px;
    margin-right: 1%;
    transition: transform 0.3s;
  }


  .product:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .product img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .product h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .price-old {
    text-decoration: line-through;
    color: gray;
  }
  
  .price-new {
    font-size: 22px;
    color: #333;
  }
  
  .price-pix {
    font-size: 16px;
    color: green;
  }
  
  #ver-produto {
    background: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: padding 0.3s;
  }
  
  #ver-produto:hover {
    background: #218838;
    padding: 10px 30px;
  }

  #saiba-mais {
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
  }



  .cont {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 5vh;
}

.product-card {
    background-color: #fff;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    position: relative;
    transition: trasform 0.8s;
    transition: width 0.5s;
}

.product-card:hover {
    transform: scale(1.05);
    cursor: pointer;
    width: 270px;
}

.product-card img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
}

.product-title {
    font-size: 1rem;
    margin: 10px 0;
}

.rating {
    color: #ffb800;
    margin-bottom: 10px;
}

.old-price {
    text-decoration: line-through;
    color: #888;
    font-size: 0.9rem;
}

.price {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 5px 0;
}

.pix-price {
    color: #28a745;
    font-size: 1.4rem;
    font-weight: bold;
}

.payment-info {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 15px;
}

.btn-cad {
    background-color: #28a745;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.btn-cad:hover {
    background-color: #218838;
}


.faq {
    background-color: #f9f9f9;
    padding: 40px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.faq h1 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.faq .linha {
    width: 60px;
    height: 3px;
    background-color: #3498db;
    margin: 10px auto 30px auto;
    border-radius: 2px;
}

.faq details {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.faq details[open] {
    border-color: #3498db;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faq details summary {
    font-size: 1.2rem;
    font-weight: bold;
    color: #444;
    cursor: pointer;
    position: relative;
}

.faq details summary::after {
    content: "+";
    font-size: 1.5rem;
    font-weight: bold;
    color: #3498db;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-50%);
    transition: transform 0.3s ease, color 0.3s ease;
}

.faq details[open] summary::after {
    content: "-";
    transform: translateY(-50%) rotate(180deg);
    color: #e74c3c;
}

.faq details p {
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
}


footer div a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

footer p {
    font-size: 18px;
    font-weight: bold;
}

footer p i {
    margin: 0 15px;
}

#back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none; /* Inicialmente oculto */
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 60%;
    font-size: 16px;
    cursor: pointer;
    z-index: 1000; /* Fica acima de outros elementos */
    transition: opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s;
}

#back-to-top:hover {
    background-color: #0056b3;
    opacity: 0.8;
    transform: scale(1.3);

}


.success-message{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-bottom: 10vh;

}

.success-message h2{
    color: #28a745;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.success-message p{
    font-size: 18px;
    color: #218838;
    margin-bottom: 40px;
}

.success-message a{
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
    transition: padding 0.4s;
}

.success-message a:hover{
    padding: 25px;
}

